# Python
.venv/
__pycache__/
*.pyc

# Tailwind standalone binaries
tailwindcss
tailwindcss.exe

# Generated frontend assets
web/style.css
web/index.html

# PyInstaller / Distribution
build/
dist/
*.spec

# Python build artifacts
*.egg-info/
.eggs/

